<footer th:fragment = "footer"
        class="text-center text-lg-start "
>
    <div class="text-center bg-light">
        <section class=" mb-4 text-center">
            <div class="row justify-content-center" style="font-family: serif">

                <div class="col-6">
                    <h5 class="text-uppercase">FOOTER CONTENT</h5>

                    <p style="text-align: justify;">
                        Welcome to my demo website showcasing a vibrant world of books and commerce!
                        Dive into a literary paradise where readers and book enthusiasts converge to explore,
                        discover, and indulge in the captivating universe of literature.
                        Browse through a curated collection of books, engage in seamless transactions,
                        and embark on a journey of literary exploration like never before.
                        Join us and unlock the door to a world where stories come alive and commerce meets culture.
                    </p>
                </div>

            </div>
        </section>

        <hr class="mb-4 w-100" />

        <section class="mb-4 text-center">

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fa-brands fa-youtube"></i>
            </a>

            <a
                    class="btn btn-floating m-1"
                    href="#!"
                    role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fa-brands fa-tiktok"></i></a>

        </section>

        <hr class="mb-4 w-100" />

        BC © 2024 Copyright
    </div>

</footer>