<footer th:fragment = "footer"
        class="text-center text-lg-start "
>
    <div class="text-center bg-light">
        <section class=" mb-4 text-center">
            <div class="row justify-content-center" style="font-family: serif">

                <div class="col-6">
                    <h5 class="text-uppercase">FOOTER CONTENT</h5>

                    <p style="text-align: justify;">
                        This is our demo website showcasing the real estate landscape in Vietnam.
                        Explore the latest developments, property types, and emerging areas.
                        Stay updated on new projects, investment opportunities, and relevant services.
                        Whether you're seeking to invest or buy property, our platform offers valuable insights and support for informed decision-making.
                        Dive into Vietnam's dynamic real estate market with us today.
                    </p>
                </div>

            </div>
        </section>

        <hr class="mb-4 w-100" />

        <section class="mb-4 text-center">

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fa-brands fa-youtube"></i>
            </a>

            <a
                    class="btn btn-floating m-1"
                    href="#!"
                    role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <a
                    class="btn btn-floating m-1"
                    href=""
                    role="button"
            ><i class="fa-brands fa-tiktok"></i></a>

        </section>

        <hr class="mb-4 w-100" />

        BC © 2024 Copyright
    </div>

</footer>